@import "solarized";

@font-face {
  font-family: 'batman';
  src: url('/lib/font/batmfa__.ttf');
}

.reveal {
  background: url('/img/bg.jpg');

  .color {
    font-family: 'batman';
    color: #2f8be8;
  }

  section {

    div.def {

      font-size: 0.87em;
      text-align: left;
      font-family: 'Times New Roman';
      p.title {
        font-weight: bold;
      }
    }

    div.avatar {
      $avatarSize: 9.5em;
      margin: auto !important;
      display: block;
      width: $avatarSize;
      height: $avatarSize;
      border-radius: 100%;
      overflow: hidden;
      border: 10px solid white;
      div {
        width: 100%;
        height: 100%;
        background: url('/img/me-zoom-small.png');

      }
    }

    h2.alone {
      color: white !important;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
    }

    .stretch {
      iframe {
        &:not([class*="col-"]) {
          width: 100%;
        }
        height: 90%;
        border: none;
        overflow: hidden;
      }
    }
    .grid [class*="col-"] {
      height: 100%;
    }

    &#sdk_js {
      img {
        max-height: 3em;
      }
      .lo-dash {
        margin: 0 0 1em 0;
        font-size: 2.5em;
      }
    }
    img {
      border: 0px;
      background: transparent;
      box-shadow: none;
    }
  }
}

$footerHeight: 1.3em;
$sideMargin: 0.3em;
$footerFontSize: 0.7em;
$footerTopPaddingText: ($footerHeight - $footerFontSize) /2;

footer {
  #logo {
    height: 200px;
  }
  background: #4d4d4d;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $footerHeight;
  z-index: 9;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.75);

  span {
    position: inherit;
    padding-top: $footerTopPaddingText;
    font-size: $footerFontSize;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
  }

  #twitter-author {
    right: $sideMargin;
  }
}

.controls {
  bottom: 1.1em !important;
  right: -0.5em !important;
}